/* Default font-size */
$font-size: 16px;

/* Color Variation */
$primary-color: #9A8B4F;
$accent-color: #E0B589;
$secondary-color: #EFE1CE;
$default-color: #939597;
$dark-color: #363945;
$light-color: #f9f9f9;

/* Size Variation */
$wrapper-width: 400px;
$gutter-width: 1em;

/* Responsive Size */
$xl: 1399px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
